/** Background Colors **/
$bg_color_white: #fff;
$bg_color_primary: #bac2ba;
$bg_color_semantic: #ed1c24;
$bg_color_light_semantic: #ff4c52;
$bg_color_green: #4caf50;
$bg_color_light_green: #5ac65e;
$bg_color_blue: #03a9f4;
$bg_color_light_blue: #03a9f4;
$bg_color_disabled: #f4f4f4;

/** Font Colors **/
$font_color_white: #fff;
$font_color_semantic: #f44336;
$font_color_black: #000;
